<section class="event-comments bg-white" id="event-comments-<%= event.id %>">
  <div>
    <ul class="list-group list-group-flush" id="event-comments-list-<%= event.id %>">
      <% event.comments.order('created_at').each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    </ul>
  </div>
  <% if user_signed_in? %>
    <%= form_for new_comment, html: {class: 'row event-comment-form align-items-center', id: "event-comments-form-#{event.id}"}, remote: true do |f| %>
      <div class="col-11">
        <%= f.text_area :body, class: 'form-control', placeholder: 'Tu aporte', rows: 2, onkeydown: 'textAreaRowIncrementor(event, this);', required: true %>
      </div>
      <div class="col-1">
        <%= button_tag type: 'submit', class: "btn btn-info p-1 comment-submit-button" do %>
          <i class='fas fa-arrow-alt-circle-right fa-2x text-white'></i>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Inicia sesion para comentar" %>
  <% end %>
</section>